---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>My Posts</h2>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
