---
layout: layouts/base.njk
---

<p>
Hey, I'm Marek Fořt, developer from Prague, currently living in Berlin. I help mobile engineers scale their projects with <a href="https://tuist.io/">Tuist</a> as a co-founder and a maintainer.
</p>

{{ content | safe }}
